name: ${COMPOSE_PROJECT_NAME:-learn_python_tools}
services:
  tools:
    build: .
    volumes:
      - ./app:/work/app
      - ./tests:/work/tests
      - ./alembic:/work/alembic
      - ./alembic.ini:/work/alembic.ini
      - ./pyproject.toml:/work/pyproject.toml
      - ./uv.lock:/work/uv.lock
      - uv_tools_venv:/work/.venv
      - uv_tools_cache:/root/.cache/uv
    environment:
      UV_LINK_MODE: copy
    tty: true
    stdin_open: true

volumes:
  uv_tools_venv:
  uv_tools_cache:
