name: ${COMPOSE_PROJECT_NAME:-learn_python_test}
services:
  web:
    build: .
    volumes:
      - ./app:/work/app
      - ./htmlcov:/work/htmlcov
    ports:
      - "8001:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5433/postgres
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
 
volumes:
  postgres_data_test:
