name: ${COMPOSE_PROJECT_NAME:-learn_python_local}
services:
  local_db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_local_data:/var/lib/postgresql/data
  local_pgadmin4:
    image: dpage/pgadmin4:8.4
    ports:
      - 8081:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
 
volumes:
  postgres_local_data:

